%ol
  %li= 'Programacion Orientada a Objetos'
  %ol
    %li
      %a{:href => '#paradigma'}= 'Que es un Paradigma de Programacion?'
    %li
      %a{:href => '#paradigmas'}= 'Paradigmas de Programacion'
    %li
      %a{:href => '#paradigmaObjetos'}= 'El Paradigma de Programacion Orientada a Objetos'
  %li= 'Fundamentos'
  %ol
    %li
      %a{:href => '#encapsulamiento'}= 'Encapsulamiento'
    %li
      %a{:href => '#informacionImplementacionEscondida'}= 'Informacion / Implementacion Escondida'
    %li
      %a{:href => '#mensajes'}= 'Mensajes'
    %ol
      %li
        %a{:href => '#mensajesEstructura'}= 'Estructura'
      %li
        %a{:href => '#mensajesArgumentos'}= 'Argumentos'
      %li
        %a{:href => '#mensajesRolObjetos'}= 'Roles de los Objetos'
      %li
        %a{:href => '#mensajesTipos'}= 'Tipos'
