%ol
  %li= 'Paradigmas de Programacion'
  %ol
    %li
      %a{:href => '#paradigma'}= 'Que es un Paradigma de Programacion?'
    %li
      %a{:href => '#paradigmaObjetos'}= 'El Paradigma de Programacion Orientada a Objetos'
    %li
      %a{:href => '#paradigmas'}= 'Paradigmas de Programacion'
  %li= 'Percepcion de los Sistemas'
  %ol
    %li
      %a{:href => '#percepcionConceptosBasicos'}= 'Conceptos basicos'
    %li
      %a{:href => '#percepcionMensajesResponsabilidades'}= 'Mensajes y Responsabilidades'
    %li
      %a{:href => '#percepcionClasesInstancias'}= 'Clases e Instancias'
  %li
    %a{:href => '#fundamentos'}= 'Fundamentos'
  %ol
    %li
      %a{:href => '#fundamentosClases'}= 'Clases'
    %li
      %a{:href => '#fundamentosObjetos'}= 'Objetos'
    %li
      %a{:href => '#encapsulamiento'}= 'Encapsulamiento'
    %li
      %a{:href => '#informacionImplementacionEscondida'}= 'Informacion / Implementacion Escondida'
    %li
      %a{:href => '#fundamentosMensajes'}= 'Mensajes'
    %ol
      %li
        %a{:href => '#fundamentosMensajesEstructura'}= 'Estructura de un Mensaje'
      %li
        %a{:href => '#mensajesArgumentos'}= 'Argumentos'
      %li
        %a{:href => '#mensajesRolObjetos'}= 'Roles de los Objetos'
      %li
        %a{:href => '#mensajesTipos'}= 'Tipos'
